<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Daniel R</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>danramteke bundle</string>
	<key>uuid</key>
	<string>8980C495-5325-4A4D-9D62-EDCA3745BB76</string>
</dict>
</plist>
